.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.input-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: 100px;
    align-items: center;
    justify-content: center;
    
}

.select-label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

.list-container {
    background-color: blue;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 100vh;
}